@import "tailwindcss";

/* -----------------------------
   CSS Variables & Theme
----------------------------- */

:root {
  --background: #25282a;
  --foreground: #171717c8;

  --font-body: var(--font-body);
  /* --font-bbh-bogle: var(--font-bbh-bogle); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* -----------------------------
   Base Styles
----------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-weight: 400;
  line-height: 1.75;
}

/* -----------------------------
   Typography Utilities
----------------------------- */

/* .font-bbh {
  font-family: var(--font-bbh-bogle);
} */

.font-body {
  font-family: var(--font-body);
}


/* -----------------------------
   Article / News Content
----------------------------- */

.prose {
  font-family: var(--font-body);
}

.prose strong {
  font-weight: 700;
}

.prose a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/* -----------------------------
   Images & Media
----------------------------- */

img {
  max-width: 100%;
  height: auto;
}

/* -----------------------------
   Accessibility
----------------------------- */

:focus-visible {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
}
