@import "tailwindcss";
@import "./fonts/BBHBogle.css";

:root {
  --background: #25282a;
  --foreground: #171717c8;

  --font-body: var(--font-body);
  --font-bbh-bogle: "BBH Bogle", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
  font-weight: 400;
}

.font-bbh {
  font-family: var(--font-bbh-bogle);
}
