@font-face {
  font-family: "BBH Bogle";
  src: url("/fonts/BBHBogle-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "BBH Bogle";
  src: url("/fonts/BBHBogle-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
